body{
    background: linear-gradient(to right, #5a19a9, #EE82EE);
    color: #fff0f0;
}

input[type="button"]{
  border-radius: 15%;
  padding: 1vh 2vh;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  border: 0;
}

input[id="deleteButtons"]:hover {
  background-color: #8800d1;
  color: #feecff;
  transform: scale(1.1) rotate(360deg);
}

input[id="addButton"]{
  padding: 2.3vh 2vh;
}

input[id="addButton"]:hover {
  background-color: #8800d1;
  color: #feecff;
  transform: scale(1.1);
}