body{
    background: linear-gradient(45deg, #00008b, #00007a, #000031);
    height: 100%;
    overflow: hidden;
}

.earth{
    position: absolute;
    top: 60vh;
    left: -40vh;
    width:120vh;
    height: 120vh;
    min-height: 120px;
    min-width: 120px;
    border-radius: 50%;
    background-color: #26c6ff;
}

.land{
    position: absolute;
    top: 22vh;
    left: 20vh;
    width: 63vh;
    height: 60vh;
    transform: rotate(70deg);
    background-color: #00bb00;
    border-radius: 15%;
}

.spaceship{
    position: absolute;
    transform: rotate(45deg);
    top: 30vh;
    left: 70vh;
    width: 30vh;
    height: 50vh;
    min-height: 50px;
    min-width: 30px;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #828282;
    transition: all 0.5s ease;
}

.spaceship:hover{
    transform: scale(0.7) rotate(30deg) translateY(-40vh);
    transition: all 1.3s;
}

.left-engine, .right-engine{
    position: absolute;
    top: 75%;
    width: 35%;
    height: 35%;
    min-width: 10px;
    min-height: 15px;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f31111;
}

.left-engine{
    left: -15%;
}

.right-engine{
    left: 85%;
}


.window{
    position: absolute;
    background: linear-gradient(60deg, #29c6ff 0%, #29d7ff 65%, #ddddff 100%);
    top: 25%;
    left: 35%;
    width: 35%;
    height: 25%;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    border: 1vh solid #474747;
}

.antenna{
    position: absolute;
    top: -8%;
    left: 49%;
    width: 3%;
    height: 10%;
    border-radius: 50%;
    background-color: inherit;
}



.stars{
    position: absolute;
    top: 40vh;
    left: 40vh;
    width: 0.5vh;
    height: 0.5vh;
    min-width: 1px;
    min-height: 1px;
    background-color: white;
    border-radius: 50%;
}

.stars:nth-child(2){
    top: 20vh;
    left: 140vh;
    animation: twinkle 2.4s infinite alternate;
}

.stars:nth-child(3){
    top: 70vh;
    left: 180vh;
    animation: twinkle 1.1s infinite alternate;
}

.stars:nth-child(4){
    top: 90vh;
    left: 100vh;
    animation: twinkle 4s infinite alternate;
}

.stars:nth-child(5){
    width: 0.7vh;
    height: 0.7vh;
    top: 5vh;
    left: 111vh;
    animation: twinkle 0.4s infinite alternate;
}

@keyframes twinkle {
    from {opacity: 0.1;}
    to {opacity: 0.7;}
}

.fire{
    display: none;
    position: absolute;
    top: 103%;
    left: 23%;
    width: 55%;
    height: 60%;
    background: linear-gradient(180deg,#EBE713 0%, #F0AC0E 60%, #E01919 92%);

    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation: moves 0.7s infinite alternate;

}

.spaceship:hover .fire{
    display: block;
}

@keyframes moves {
    from {rotate: -12deg;}
    to {rotate: 11deg;}
}